body  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 64px;
  max-height: 320px;
  overflow: hidden;

}
#id82c10cd26f4e8.wla7{

}
.wla7__current {
  font-size: 9px;
}
.wla7__forecast {
  font-size: 10px;
  
}
.wla7__forecastItem {
  
}